# Logs
logs/
*.log

# Screenshots
screenshots/
*.png
*.jpg

# Screenshots (ignore general)
screenshots/

# Ignore images everywhere
*.png
*.jpg

# ✅ BUT allow inside artifacts
!artifacts/
!artifacts/*.png
!artifacts/*.jpg


# Reports
test-output/
reports/
extent-report/
target/
surefire-reports/

# Maven
target/

# IDE files
*.class
*.project
*.settings/
*.iml
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

.classpath
.project
/target/bin/ 
bin/
